*{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(255, 255, 255); */
}
/* #logo:hover{
    font-size: 50px;
    transition:all 0.9s;
    color: var(--main-bg-color);
} */
.navigation{
    position: inherit;
    /* height: 20px; */
    /* background-color: rgb(181, 210, 210); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-1);
    border-radius: 30px;
    
    
}

.nav-left{
    font-size: 30px;
    display: flex; 
    
   
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 70px;

}
.nav-left ul li{
    list-style: none;
    font-family: var(--font-2);
    margin: 0px 14px;
    font-size: 20px;
    
   
}
.nav-left ul li a{
    text-decoration: none;  
    color: black;  
}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-weight: 18px;
}
.content-left{
    font-family: var(--font-1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-top:20px;
    margin: 20px;
    
}
.content-left h2{
    color: rgb(0, 0, 0);
    /* margin: 20px 20px; */
    
}

.content-left p{

    /* margin: 20px 20px; */
    color: black;
    margin-top: 15px;
    font-family: var(--font-2);

}
.content-right{
    font-family: var(--font-1);
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;


}
.content-right img{
    height: 250px;
    width: 250px;
    border-radius: 400px;
    margin: 0px 10px;

}
.content{
    display: flex;
    /* height: 300px; */
    background-color: rgb(239, 236, 239);
    /* border-radius: 30px; */
    margin-top: 30px;
    /* margin-bottom: 10px; */

}
.home-articles{
    /* height: 500px; */
    background-color: rgb(241, 241, 241);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    position: relative;
}
.year-box{
    position: absolute;
    /* display: flex; */
    width: 150px;
    height: 100px;
    /* background-color: rgb(184, 106, 106); */
    right: 200px;
    top: 180px;
}
.year-box div{
    margin-top: 18px 0px;
    font-size: 16 px;
}
.home-articles h1{
    padding: 10px;

}
.home-article{
    display: flex;
    padding-top:20px;
    margin: 20px;
}
.home-article h2:hover{
    /* font-size: 28px; */
    transition: all 0.5s;
    color: rgb(120, 33, 101);
}
.home-article-content{
    align-self: center;
    padding: 0 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;

}
.home-article img{
    width: 200px;
    height: 150px;
    
}
.home-article img:hover{
    width: 220px;
    height: 170px;
    transition: all 0.8s;
}

.footer{
    /* height: 66px; */
    /* width: 80vw; */
    background-color: var(--main-bg-color);
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 12px;
    font-family: var(--font-1);

}